.el-button {
  //--el-button-text-color: var(--color-gray-990);

  &.icon-button {
    padding: 0;
    min-width: unset;
    width: 32px;
  }

  &:focus-visible {
    box-shadow: none;
    outline: 2px solid rgba(36, 48, 55, 0.8);
  }

  &.is-loading {
    .is-loading {
      svg {
        display: none;
      }

      &::after {
        content: '';
        width: 1em;
        height: 1em;
        border: 0.12rem solid var(--color-gray-300);
        border-top-color: transparent;
        border-radius: 100%;
      }
    }
  }

  > span {
    > .el-icon {
      margin-left: 4px;
    }

    > .el-checkbox {
      font-size: inherit;

      &.is-checked {
        .el-checkbox__inner {
          border: none;
        }
      }
    }

    .el-checkbox__label {
      font-size: inherit;
    }
  }
}

.el-button--large {
  --el-button-size: 44px;
  font-size: var(--p-font-size-600);
}

.el-button--primary {
  --el-border: none;
  --el-button-hover-bg-color: var(--color-orange-700);
  --el-button-active-bg-color: var(--color-orange-800);

  &.is-disabled,
  &.is-loading,
  &.is-disabled:hover {
    color: var(--color-gray-300);
    background-color: var(--color-gray-100);
  }
}

.el-button.is-plain {
  --el-button-hover-bg-color: var(--color-gray-50);
  --el-button-active-bg-color: var(--color-gray-100);

  &:not(.is-disabled) {
    border-color: var(--color-cloudy-gray-300);
    color: var(--color-gray-990);

    .el-checkbox__inner {
      border-color: var(--color-cloudy-gray-500);
    }
  }

  &.is-disabled,
  &.is-loading {
    border-color: var(--color-gray-200);
    color: var(--color-gray-300);
  }

  &.active {
    background-color: var(--color-gray-100);
  }
}

.el-button--filled {
  --el-border: none;
  --el-button-hover-bg-color: var(--color-blue-600);
  --el-button-active-bg-color: var(--color-blue-700);

  &.is-disabled,
  &.is-disabled:hover,
  &.is-loading {
    color: var(--color-gray-300);
    background-color: var(--color-gray-50);
    border: 1px solid var(--color-gray-200);
  }

  .el-checkbox {
    --el-checkbox-checked-text-color: var(--white);
    --el-checkbox-text-color: var(--white);
  }

  .el-checkbox__label {
    color: var(--white);
  }
}

.el-button--success, .el-button--info, .el-button--warning, .el-button--danger, .el-button--error {
  --el-border: none;
}

.el-button--text {
  color: var(--color-gray-990);

  &:not(.is-disabled) {
    &:hover {
      background-color: var(--color-gray-50);
      color: var(--color-gray-990);
    }

    &:active {
      background-color: var(--color-gray-100);
      color: var(--color-gray-990);
    }
  }

  &.is-loading {
    color: var(--color-gray-300);
  }

  &.active {
    background-color: var(--color-gray-100);
  }

  &.active:hover {
    border-color: transparent;
    background-color: var(--color-gray-100);
  }
}

.el-button.beyond-button-tag {
  border: none;
  position: relative;
  overflow: hidden;

  &:not(.is-disabled) {
    &:hover,
    &:active {
      &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &:hover {
      &::before {
        background-color: rgb(255, 255, 255, 0.38);
      }
    }

    &:active {
      &::before {
        background-color: rgba(0, 0, 0, 0.13);
      }
    }
  }

  &.is-loading,
  &.is-disabled {
    > span > .el-icon {
      display: none;
    }
  }

  &.is-loading {
    color: var(--color-gray-300) !important;
    background-color: var(--color-gray-100) !important;
  }
}
