@use './common.scss' as *;

.el-message {
  --el-message-text-color: var(--color-text-secondary);
  border-radius: 8px;
  display: flex;
  align-items: center;
  box-shadow: var(--shadow-400);
  min-height: 48px;

  &.is-alert {
    border-radius: 0;
    box-shadow: none;
  }

  .el-message__icon {
    margin-right: 8px;
  }

  .el-message__closeBtn {
    margin-top: 2px;
  }

  .el-message__labelBtn {
    margin-left: 40px;
    min-width: unset;
    color: #0e171f;
    @include button-custom-hover-active;
  }

  .el-message__title {
    color: var(--color-gray-990);
    font-size: var(--p-font-size-550);
    font-weight: var(--p-font-weight-bold);
    white-space: nowrap;
    margin-right: 6px;
  }

  &.el-message--error {
    --el-message-bg-color: var(--color-red-100);
    --el-message-border-color: var(--color-red-300);

    .el-message-icon--error {
      svg path {
        fill: var(--color-red-600);
      }
    }
  }

  &.el-message--info {
    --el-message-bg-color: var(--color-blue-100);
    --el-message-border-color: var(--color-gray-300);
  }

  &.el-message--success {
    --el-message-bg-color: var(--color-lime-50);
    --el-message-border-color: var(--color-lime-300);
  }

  &.el-message--warning {
    --el-message-bg-color: var(--color-yellow-100);
    --el-message-border-color: var(--color-yellow-300);
  }

  &.is-dark {
    .el-message__labelBtn,
    .el-message__title,
    .el-message__content {
      color: var(--white);
    }

    .el-icon,
    .el-message__closeBtn {
      svg {
        path {
          fill: var(--white);
        }
      }
    }

    &.el-message--error {
      --el-message-bg-color: var(--color-red-600);
      --el-message-border-color: var(--color-red-800);
    }

    &.el-message--info {
      --el-message-bg-color: var(--color-cloudy-gray-800);
      --el-message-border-color: var(--color-gray-400);
    }

    &.el-message--success {
      --el-message-bg-color: var(--color-lime-600);
      --el-message-border-color: var(--color-lime-600);
    }

    &.el-message--warning {
      --el-message-bg-color: var(--color-yellow-300);
      --el-message-border-color: var(--color-yellow-400);

      .el-message__title,
      .el-message__labelBtn,
      .el-message__content {
        color: var(--color-gray-990);
      }

      .el-message__labelBtn {
        border-color: var(--color-gray-990);
      }

      .el-message__closeBtn,
      .el-message-icon--warning {
        svg path {
          fill: var(--color-gray-990);
        }
      }
    }
  }
}
